/* =============
    Base
============= */
figure {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;

    li {
        list-style: none;
    }
}

li {
    list-style: none;
}

h1 {
    font-family: "Amaranth", Helvetica, sans-serif;
    font-weight: bold;
    font-size: 13px;
    color: $white;
    text-align: center;
    background-color: $darkblue;
    margin-bottom: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

