/* =============
    section-5
============= */
#section-5 {

    h1 {
        text-align: center;
        background-color: $darkblue;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    h2 {
        font-family: "Amaranth", Helvetica, sans-serif;
        font-weight: bold;
        font-size: 18px;
        color: $darkblue;
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    h3 {
        font-family: "Titillum Web", Arial, sans-serif;
        font-weight: bold;
        font-size: 14px;
        color: $darkblue;
        text-align: left;
    }

    h4 {
        font-family: "Titillum Web", Arial, sans-serif;
        font-weight: bold;
        font-size: 10px;
        color: $darkblue;
        text-align: left;
    }

    button {
        background-color: $darkblue;
        font-family: "Amaranth", Helvetica, sans-serif;
        font-weight: bold;
        font-size: 12px;
        color: $white;
        float: right;
        margin-top: -22px;

    }

    p {
        font-family: "Amaranth", Helvetica, sans-serif;
        font-weight: bold;
        font-size: 12px;
        color: #fff;
        text-align: center;
        background-color: $darkblue;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-left: 100px;
        margin-right: 100px;
    }

    #L1 {
        background-color: $lightblue;
        padding: 20px;
    }

    #L2 {
        background-color: $white;
        padding: 20px;
    }

    #L3 {
        background-color: $lightblue;
        padding: 20px;
    }

    #L4 {
        background-color: $white;
        padding: 20px;
    }

    #L5 {
        background-color: $lightblue;
        padding: 20px;
    }

    #L6 {
        background-color: $white;
        padding: 20px;
    }

    #L7 {
        background-color: $lightblue;
        padding: 20px;
    }

    #L8 {
        background-color: $white;
        padding: 20px;
    }

    #L9 {
        background-color: $lightblue;
        padding: 20px;
    }

    #L10 {
        background-color: $white;
        padding: 20px;
    }

    #L11 {
        background-color: $lightblue;
        padding: 20px;
    }

    #L12 {
        background-color: $white;
        padding: 20px;
    }




    padding-bottom: 30px;

    ul {
        li {
            margin-bottom: 16px;
        }
    }

    @include md {

        #L1 {
            background-color: $lightblue;
            padding: 20px;
            margin-left: 50px;
            margin-right: 50px;
        }

        #L2 {
            background-color: $white;
            padding: 20px;
            margin-left: 50px;
            margin-right: 50px;
        }

        #L3 {
            background-color: $lightblue;
            padding: 20px;
            margin-left: 50px;
            margin-right: 50px;
        }

        #L4 {
            background-color: $white;
            padding: 20px;
            margin-left: 50px;
            margin-right: 50px;
        }

        #L5 {
            background-color: $lightblue;
            padding: 20px;
            margin-left: 50px;
            margin-right: 50px;
        }

        #L6 {
            background-color: $white;
            padding: 20px;
            margin-left: 50px;
            margin-right: 50px;
        }

        #L7 {
            background-color: $lightblue;
            padding: 20px;
            margin-left: 50px;
            margin-right: 50px;
        }

        #L8 {
            background-color: $white;
            padding: 20px;
            margin-left: 50px;
            margin-right: 50px;
        }

        #L9 {
            background-color: $lightblue;
            padding: 20px;
            margin-left: 50px;
            margin-right: 50px;
        }

        #L10 {
            background-color: $white;
            padding: 20px;
            margin-left: 50px;
            margin-right: 50px;
        }

        #L11 {
            background-color: $lightblue;
            padding: 20px;
            margin-left: 50px;
            margin-right: 50px;
        }

        #L12 {
            background-color: $white;
            padding: 20px;
            margin-left: 50px;
            margin-right: 50px;
        }

        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: "L1"
        "L2"
        "L3"
        "L4"
        "L5"
        "L6"
        "L7"
        "L8"
        "L9"
        "L10"
        "L11"
        "L12";

        h1 {
            text-align: center;
            background-color: $darkblue;
            padding-top: 10px;
            padding-bottom: 10px;
        }

        h2 {
            font-family: "Amaranth", Helvetica, sans-serif;
            font-weight: bold;
            font-size: 24px;
            color: $darkblue;
            text-align: center;
            padding-top: 50px;
            padding-bottom: 50px;
        }

        h3 {
            font-family: "Titillum Web", Arial, sans-serif;
            font-weight: bold;
            font-size: 18px;
            color: $darkblue;
            text-align: left;
            margin-bottom: 5px;
        }

        h4 {
            font-family: "Titillum Web", Arial, sans-serif;
            font-weight: bold;
            font-size: 14px;
            color: $darkblue;
            text-align: left;
        }

        button {
            background-color: $darkblue;
            font-family: "Amaranth", Helvetica, sans-serif;
            font-weight: bold;
            font-size: 14px;
            color: $white;
            float: right;
            margin-top: -30px;

        }

        p {
            font-family: "Amaranth", Helvetica, sans-serif;
            font-weight: bold;
            font-size: 20px;
            line-height: 25px;
            color: #fff;
            text-align: center;
            background-color: $darkblue;
            padding-top: 20px;
            padding-bottom: 20px;
            margin-left: 100px;
            margin-right: 100px;
            margin-top: 20px;
            margin-bottom: 5px;
        }
    }

    @include xl {
        #L1 {
            background-color: $lightblue;
            padding: 20px;
            margin-left: 70px;
            margin-right: 70px;
        }

        #L2 {
            background-color: $white;
            padding: 20px;
            margin-left: 70px;
            margin-right: 70px;
        }

        #L3 {
            background-color: $lightblue;
            padding: 20px;
            margin-left: 70px;
            margin-right: 70px;
        }

        #L4 {
            background-color: $white;
            padding: 20px;
            margin-left: 70px;
            margin-right: 70px;
        }

        #L5 {
            background-color: $lightblue;
            padding: 20px;
            margin-left: 70px;
            margin-right: 70px;
        }

        #L6 {
            background-color: $white;
            padding: 20px;
            margin-left: 70px;
            margin-right: 70px;
        }

        #L7 {
            background-color: $lightblue;
            padding: 20px;
            margin-left: 70px;
            margin-right: 70px;
        }

        #L8 {
            background-color: $white;
            padding: 20px;
            margin-left: 70px;
            margin-right: 70px;
        }

        #L9 {
            background-color: $lightblue;
            padding: 20px;
            margin-left: 70px;
            margin-right: 70px;
        }

        #L10 {
            background-color: $white;
            padding: 20px;
            margin-left: 70px;
            margin-right: 70px;
        }

        #L11 {
            background-color: $lightblue;
            padding: 20px;
            margin-left: 70px;
            margin-right: 70px;
        }

        #L12 {
            background-color: $white;
            padding: 20px;
            margin-left: 70px;
            margin-right: 70px;
        }

        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: "L1"
        "L2"
        "L3"
        "L4"
        "L5"
        "L6"
        "L7"
        "L8"
        "L9"
        "L10"
        "L11"
        "L12";

        h1 {
            text-align: center;
            background-color: $darkblue;
            padding-top: 10px;
            padding-bottom: 10px;
        }

        h2 {
            font-family: "Amaranth", Helvetica, sans-serif;
            font-weight: bold;
            font-size: 32px;
            color: $darkblue;
            text-align: center;
            padding-top: 70px;
            padding-bottom: 70px;
        }

        h3 {
            font-family: "Titillum Web", Arial, sans-serif;
            font-weight: bold;
            font-size: 21px;
            color: $darkblue;
            text-align: left;
            margin-bottom: 5px;
        }

        h4 {
            font-family: "Titillum Web", Arial, sans-serif;
            font-weight: bold;
            font-size: 16px;
            color: $darkblue;
            text-align: left;
        }

        button {
            background-color: $darkblue;
            font-family: "Amaranth", Helvetica, sans-serif;
            font-weight: bold;
            font-size: 16px;
            color: $white;
            float: right;
            margin-top: -35px;

        }

        p {
            font-family: "Amaranth", Helvetica, sans-serif;
            font-weight: bold;
            font-size: 24px;
            line-height: 29px;
            color: #fff;
            text-align: center;
            background-color: $darkblue;
            padding-top: 20px;
            padding-bottom: 20px;
            margin-left: 300px;
            margin-right: 300px;
            margin-top: 20px;
            margin-bottom: 5px;
        }
    }

}