/* =============
    section-6
============= */
#section-6 {
    padding: 20px;
    text-align: center;


    p {
        font-family: "Titillium Web", Arial, sans-serif;
        font-style: bold;
        font-size: 10px;
        color: $darkblue;
        text-align: left;
    }

    h1 {
        font-family: "Amaranth", Helvetica, sans-serif;
        font-style: bold;
        font-size: 20px;
        color: $yellow;
    }

    h4 {
        font-family: "Titillium Web", Arial, sans-serif;
        font-style: bold;
        font-size: 11px;
        color: $white;
        text-align: left;
    }

    h5 {
        font-family: "Titillium Web", Arial, sans-serif;
        font-style: bold;
        font-size: 9px;
        color: $white;
        text-align: left;
    }

    button {
        background-color: $yellow;
        font-family: "Amaranth", Helvetica, sans-serif;
        font-style: bold;
        font-size: 12px;
        color: $darkblue;
    }

    #form {
        background-color: $darkblue;
        margin: none;


    }


}