/* =============
    section-2
============= */

#section-2 {

    h1 {
        font-family: "Amaranth", Helvetica, sans-serif;
        font-weight: bold;
        font-size: 13px;
        color: $white;
        text-align: center;
        background-color: $darkblue;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-bottom: 5px;
    }

    margin-bottom: 5px;

    div {
        background-color: $darkblue;

        h2 {
            font-family: "Amaranth", Helvetica, sans-serif;
            font-weight: bold;
            font-size: 16px;
            color: $white;
            text-align: center;
            padding-top: 10px;
            padding-bottom: 25px;
        }

        h4 {
            font-family: "Amaranth", Helvetica, sans-serif;
            font-weight: bold;
            font-size: 9px;
            color: $darkblue;
            text-align: left;
            background-color: white;
            margin-left: 170px;
            margin-right: 170px;
            margin-top: 10px;
        }

        h3 {
            font-family: "Amaranth", Helvetica, sans-serif;
            font-weight: bold;
            font-size: 9px;
            color: $yellow;
            text-align: left;
            border-bottom: 1px solid white;
            margin-left: 170px;
            margin-right: 180px;
            padding-top:15px;
        }

        p {
            font-family: "Titillium Web", Arial, sans-serif;
            font-weight: bold;
            font-size: 6px;
            color: $mediumblue;
            text-align: left;
            margin-left: 180px;
            margin-right: 180px;
            margin-top: 3px;
        }

        #last {
            font-family: "Titillium Web", Arial, sans-serif;
            font-weight: bold;
            font-size: 6px;
            color: $mediumblue;
            text-align: left;
            margin-left: 180px;
            margin-right: 180px;
            margin-top: 3px;
            margin-bottom: 5px;
        }
    }
}