/* =============
    section-4
============= */
#section-4 {


    h1 {
        font-family: "Amaranth", Helvetica, sans-serif;
        font-weight: bold;
        font-size: 13px;
        color: $white;
        text-align: center;
        background-color: $darkblue;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-bottom: 40px;
    }

    div {
       
        padding-left: 148px;
        padding-right: 163px;
       


        h2 {
            font-family: "Amaranth", Helvetica, sans-serif;
            font-weight: bold;
            font-size: 27px;
            color: #fff;
            text-align: center;
            margin-bottom: 20px;
            margin-right: 250px;
            
        }
    
        p {
            font-family: "Titillium Web", Arial, sans-serif;
            font-weight: thin;
            font-size: 16px;
            color: #fff;
            text-align: center;
            margin-bottom: 15px;
        }
    
        button {
            display: block;
            width: 25%;
            border-radius: 4px;
            margin-bottom: 20px;
            margin-top: 30px;
            font-family: "Amaranth", Helvetica, sans-serif;
            font-weight: normal;
            font-size: 12px;
            color: $darkblue;
            text-align: center;
        }
    }


    ul {
        li {
            margin-bottom: 16px;
        }
    }

    @include md {
        grid-template-areas: ". section-5 .";

        h2 {
            font-family: "Amaranth", Helvetica, sans-serif;
            font-weight: bold;
            font-size: 27px;
            color: #fff;
            text-align: center;
            margin-bottom: 20px;
            margin-right: 150px;
        }

        p {
            font-family: "Titillium Web", Arial, sans-serif;
            font-weight: thin;
            font-size: 16px;
            color: #fff;
            text-align: center;
            margin-bottom: 15px;
            margin-right: 150px;
        }

    }

    @include xl {
        grid-template-columns: auto 1200px auto;
        
        h2 {
            font-family: "Amaranth", Helvetica, sans-serif;
            font-weight: bold;
            font-size: 27px;
            color: #fff;
            text-align: center;
            margin-bottom: 20px;
            margin-right: 150px;
        }

        p {
            font-family: "Titillium Web", Arial, sans-serif;
            font-weight: thin;
            font-size: 16px;
            color: #fff;
            text-align: center;
            margin-bottom: 15px;
            margin-right: 150px;
        }
       
    }

    >div {

        @include md {
            grid-template-areas: ". section-5 .";
        }

        ul {

            #s1 {
                @include md {
                    grid-area: s1;

                }
            }

            #s2 {
                @include md {
                    grid-area: s2;
                }
            }

            #s3 {
                @include md {
                    grid-area: s3;
                }
            }

            #s4 {
                @include md {
                    grid-area: s4;
                }
            }

            #s5 {
                @include md {
                    grid-area: s5;
                }
            }


            @include md {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-template-areas:
                    ". s1 s2 s3 .";
                gap: 16px;
            }

            @include lg {
                grid-template-columns: repeat(3, 1fr);
                grid-template-areas:
                    "s1 s1 s2 s2 s3 s3";
            }

            li {
                background-color: $darkblue;

                img {
                    width: 100%;
                }

                section {
                    display: grid;
                    grid-template-columns: 16px auto 16px;
                    grid-template-areas: ". section-4-content .";

                    >div {
                        grid-area: section-4-content;

                        button {
                            background-color: #fff;
                        }
                    }
                }
            }
        }
    }
}