/* =============
    section-3
============= */

#section-3 {

    p {
        margin-top: 35px;
        margin-left: 20px;
        margin-right: 20px;
        font-family: "Titillium Web", Arial, sans-serif;
        font-weight: bold;
        font-size: 12px;
        color: $darkblue;
        text-align: left;
        padding-bottom: 30px;
        margin-left: 135px;
        margin-right: 120px;
        line-height: 18px;
    }



    h1 {
        text-align: center;
        background-color: $darkblue;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: 20px;
    }

    @include md {

        p {
            margin-top: 35px;
            margin-left: 20px;
            margin-right: 20px;
            font-family: "Titillium Web", Arial, sans-serif;
            font-weight: bold;
            font-size: 18px;
            color: $darkblue;
            text-align: left;
            padding-bottom: 30px;
            margin-left: 135px;
            margin-right: 120px;
            line-height: 18px;
        }


    }

    @include xl {

        p {
            margin-top: 35px;
            margin-left: 20px;
            margin-right: 20px;
            font-family: "Titillium Web", Arial, sans-serif;
            font-weight: bold;
            font-size: 21px;
            color: $darkblue;
            text-align: left;
            padding-bottom: 30px;
            margin-left: 135px;
            margin-right: 120px;
            line-height: 18px;
        }


    }


}