/* =============
    section-6
============= */
#section-6 {
    padding-bottom: 20px;
    text-align: center;

    h2 {
        font-family: "Amaranth", Helvetica, sans-serif;
        font-weight: bold;
        font-size: 13px;
        color: $white;
        text-align: center;
        background-color: $darkblue;
        margin-bottom: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    p {
        font-family: "Titillium Web", Arial, sans-serif;
        font-weight: bold;
        font-size: 10px;
        color: $darkblue;
        text-align: left;
        margin-left: 70px;
        margin-right: 70px;
        margin-bottom: 10px;
    }

    h1 {
        font-family: "Amaranth", Helvetica, sans-serif;
        font-weight: bold;
        font-size: 20px;
        color: $yellow;
        margin-top: 20px;
        padding-top: 15px;
        padding-bottom: 10px;
    }

    h4 {
        font-family: "Titillium Web", Arial, sans-serif;
        font-weight: bold;
        font-size: 11px;
        color: $white;
        text-align: left;
        margin-left: 110px;
        margin-top: 10px;
    }

    h5 {
        font-family: "Titillium Web", Arial, sans-serif;
        font-weight: bold;
        font-size: 9px;
        color: $white;
        text-align: left;
        margin-left: 110px;
        margin-bottom: 5px;
        margin-top: 5px;
    }

    h6 {
        font-family: "Titillium Web", Arial, sans-serif;
        font-weight: bold;
        font-size: 11px;
        color: $white;
        text-align: left;
        margin-left: 110px;
        margin-right: 110px;
        margin-top: 10px;
        margin-bottom: 5px;
    }

    button {
        background-color: $yellow;
        font-family: "Amaranth", Helvetica, sans-serif;
        font-weight: bold;
        font-size: 12px;
        color: $darkblue;
        margin-top: 10px;
        margin-bottom: 15px;
        margin-left: 40px;
        margin-right: 40px;
        padding-left: 12px;
        padding-right: 12px;
        border-radius: 6px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    #submit {
        background-color: $yellow;
        font-family: "Amaranth", Helvetica, sans-serif;
        font-weight: bold;
        font-size: 12px;
        color: $darkblue;
        margin-top: 10px;
        margin-bottom: 30px;
        padding-left: 120px;
        padding-right: 120px;
        border-radius: 4px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    #form {
        background-color: $darkblue;
        margin: none;


    }

    input {
        border-radius: 8px;
        background: #fff;
        padding: 10px;
        width: 253px;
        height: 10px;
    }

    #ip1 {
        border-radius: 8px;
        background: #fff;
        padding: 10px;
        width: 253px;
        height: 106px;
    }

    #ip2 {
        border-radius: 8px;
        background: #fff;
        padding: 10px;
        width: 253px;
        height: 106px;
    }
}