/* =============
    section-7
============= */
#section-7 {

    background-color: $lightblue;

    p {
        font-family: "Titillium Web", Arial, sans-serif;
        font-style: bold;
        font-size: 10px;
        color: $darkblue;
        margin-left: 70px;
        margin-right: 70px;
        text-align: left;
    }
}