/* =============
    section-4
============= */

#section-4 {
    text-align: center;

    h1 {
        text-align: center;
        background-color: $darkblue;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-bottom: 60px;
    }
    
    div {
        h2 {
            font-family: "Amaranth", Helvetica, sans-serif;
            font-weight: bold;
            font-size: 27px;
            color: #fff;
            text-align: center;
            margin-top: 15px;
        }
    
        p {
            font-family: "Titillium Web", Arial, sans-serif;
            font-weight: thin;
            font-size: 16px;
            color: #fff;
            text-align: center;
            margin-bottom: 15px;
            margin-top: 15px;
            margin-left: 140px;
            margin-right: 140px;
            line-height: 24px;
        }
    
        button {
            display: inline-block;
            width: 25%;
            height: 15%;
            border-radius: 4px;
            margin-bottom: 30px;
            margin-top: 15px;
            font-family: "Amaranth", Helvetica, sans-serif;
            font-weight: normal;
            font-size: 12px;
            color: $darkblue;
            text-align: center;
        }
    
        img{
            width:100%;
            height: 300px;
        }
    }
    
    
    ul {
        li {
            margin-bottom: 16px;
        }
    }
    
    @include md {
    
        h2 {
            font-family: "Amaranth", Helvetica, sans-serif;
            font-weight: bold;
            font-size: 27px;
            color: #fff;
            text-align: center;
            margin-bottom: 20px;
            margin-right: 150px;
        }
    
        p {
            font-family: "Titillium Web", Arial, sans-serif;
            font-weight: thin;
            font-size: 16px;
            color: #fff;
            text-align: center;
            margin-bottom: 15px;
            margin-right: 150px;
        }
    
    }
    
    @include xl {
    
        h2 {
            font-family: "Amaranth", Helvetica, sans-serif;
            font-weight: bold;
            font-size: 27px;
            color: #fff;
            text-align: center;
            margin-bottom: 20px;
            margin-right: 150px;
        }
    
        p {
            font-family: "Titillium Web", Arial, sans-serif;
            font-weight: thin;
            font-size: 16px;
            color: #fff;
            text-align: center;
            margin-bottom: 15px;
            margin-right: 150px;
        }
    
    }
    
    >div {
    
        @include md {
            grid-template-areas: ". section-4 .";
        }
    
        ul {
    
            #s1 {
                @include md {
                    grid-area: s1;
    
                }
            }
    
            #s2 {
                @include md {
                    grid-area: s2;
                }
            }
    
            #s3 {
                @include md {
                    grid-area: s3;
                }
            }
    
            #s4 {
                @include md {
                    grid-area: s4;
                    visibility: hidden;
                }
            }
    
            #s5 {
                @include md {
                    grid-area: s5;
                    visibility: hidden;
                }
            }
    
    
            @include md {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-template-areas:
                    ". s1 s2 s3 .";
                gap: 16px;
            }
    
            @include lg {
                grid-template-columns: repeat(3, 1fr);
                grid-template-areas:
                    "s1 s1 s2 s2 s3 s3";
            }
    
            li {
                background-color: $darkblue;
    
                img {
                    width: 100%;
                }
    
                section {
                    display: grid;
                    grid-template-columns: auto;
                    grid-template-areas: ". section-4-content .";
    
                    >div {
                        grid-area: section-4-content;
    
                        button {
                            background-color: #fff;
                        }
                    }
                }
            }
        }
    }
    
}   