/* =============
    section-2
============= */

#section-2 {

    h1 {
        text-align: center;
        background-color: $darkblue;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    
}