/* =============
    section-7
============= */
#section-7 {

    background-color: $lightblue;

    h1 {
        text-align: center;
        background-color: $darkblue;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    p {
        font-family: "Titillium Web", Arial, sans-serif;
        background-color: $lightblue;
        font-weight: bold;
        font-size: 10px;
        color: $darkblue;
        margin-left: 130px;
        margin-right: 130px;
        text-align: left;
        margin-top: 20px;
        padding-bottom: 30px;
    }

    #s7 {
        display: grid;
        margin-left: auto;
        width: 50%;
        margin-right: auto;
        margin-bottom: 20px;
        margin-top: 30px;
    }

    @include md {
        display: block;

        h1 {
            font-family: "Amaranth", Helvetica, sans-serif;
            font-weight: bold;
            font-size: 24px;
            color: $white;
            text-align: center;
            background-color: $darkblue;
            padding-top: 10px;
            padding-bottom: 10px;
            margin-bottom: 35px;
        }

        p {
            font-family: "Titillium Web", Arial, sans-serif;
            background-color: $lightblue;
            font-weight: bold;
            font-size: 18px;
            color: $darkblue;
            margin-left: 120px;
            margin-right: 120px;
            text-align: left;
            margin-top: 20px;
            padding-bottom: 30px;
            line-height: 22px;
        }

        #s7 {
            max-width: 100%;
            height: auto;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 20px;
            margin-top: 30px;
        }
    }

    @include xl {
        display: block;

        p {
            font-family: "Titillium Web", Arial, sans-serif;
            background-color: $lightblue;
            font-weight: bold;
            font-size: 18px;
            color: $darkblue;
            margin-left: 120px;
            margin-right: 120px;
            text-align: left;
            margin-top: 20px;
            padding-bottom: 30px;
            line-height: 24px;
        }

        #s7 {
            max-width: 100%;
            height: auto;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 20px;
            margin-top: 30px;
        }
    }
}