/* =============
    section-1
============= */

#section-1 {

    background-color: $lightblue;
   
    h1 {
        font-family: "Amaranth", Helvetica, sans-serif;
        font-style: bold;
        font-size: 13px;
        color: $white;
        text-align: center;
        background-color: $darkblue;
    }

    p {
        font-family: "Titillum Web", Arial, sans-serif;
        font-style: bold;
        font-size: 8px;
        color: $darkblue;
        text-align: left;
    }    
}
