/* =============
    section-3
============= */

#section-3 {

    margin-bottom: 30px;

    #p1 {
        margin-top: 25px;
        margin-left: 20px;
        margin-right: 20px;
    }
    #p2 {
        background-color: $lightblue;
    }

    h1 {
        font-family: "Amaranth", Helvetica, sans-serif;
        font-weight: bold;
        font-size: 20px;
        color: $darkblue;
        text-align: center;
    }

    h2 {
        font-family: "Amaranth", Helvetica, sans-serif;
        font-weight: normal;
        font-size: 16px;
        color: $darkblue;
        text-align: center;
        margin-bottom: 30px;
        margin-top: 5px;
    }

    h3 {
        font-family: "Amaranth", Helvetica, sans-serif;
        font-weight: bold;
        font-size: 13px;
        color: $white;
        text-align: center;
        background-color: $darkblue;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    #Petieb {
        display: block;
        font-family: "Amaranth", Helvetica, sans-serif;
        font-weight: bold;
        font-size: 18px;
        color: $white;
        text-align: center;
        background-color: $darkblue;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-bottom: 40px;
        margin-left: 130px;
        margin-right: 130px;
    }

    p {
        font-family: "Titillium Web", Arial, sans-serif;
        font-weight: bold;
        font-size: 12px;
        color: $darkblue;
        text-align: left;
        padding-bottom: 30px;
        margin-left: 120px;
        margin-right: 120px;
    }

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 40%;
        margin-bottom: 20px;
        margin-top: 40px;
        padding-top: 130px;
    }


}