/* =============
    Footer
============= */
footer {
	background-color: $darkblue;
	padding-top: 10px;
	padding-bottom: 20px;
	text-align: center;

	a {
		font-family: "Titillium Web", Arial, sans-serif;
		font-style: bold;
		font-size: 12px;
		color: $white;
		text-align: center;
	}

	.icons {
		flex-direction: row;
	}

	@include xl {
		grid-template-areas: ". footer .";
	}

	>div {
		gap: 3px;

		@include md {
			grid-template-areas: ". footer .";
		}

		@include lg {
			grid-template-areas: ". footer .";
		}

		@include xl {
			grid-area: footer;
		}
	}
}